ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    
}

ul li {
    display: inline-block;
}

ul li a {
    display: block;
    padding: 10px 40px;
    color: #333333;
    text-decoration: none;
    letter-spacing: 2px;
}

ul li a:hover {
    color: #6A7199;
}

.logo {
    flex: 1; 
    text-align: center; 
}

.logo img {
    height: 30px; 
    width: auto; 
}

.profile {
    flex: 0; 
}

.profile img {
    height: 40px; 
    width: 40px; 
    border-radius: 50%; 
}


.header {
    background-image: url(Images/LeafDifferentBackgrounds-02.png);
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
    text-align: center;
    font-size: 400%;
    padding-top: 250px; 
    border-bottom: #333333;
    font-weight: lighter;
    color: #333333;
}


.separator {
    border: none;
    border-top: 1px solid #cfcccc;
}


.leaf {
    position: absolute;
    top: 800px; 
    right: 0; 
    width: 250px; 
    height: auto; 
}

.leaf2 {
    position: absolute;
    top: 1500px;
    left: 0; 
    height: auto; 
    width: 300px; 
    height: auto; 
}



.image-gallery {
    max-width: 1000px; 
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.image-container {
    flex: 0 0 calc(75% - 280px);
    margin: 10px;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}


.caption {
    display: block;
    margin-top: 0px;
    color: #333333;
    padding: 0px;
    text-align: start;
    text-decoration: none;
}

a {
    text-decoration: none;
}

footer {
    padding: 10px; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: sticky; 
    left: 0;
    right: 0; 
    background-color: transparent; 
    border-top: 1px solid #ccc; 
}


.footer-left ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-left ul li {
    display: inline-block;
    margin-right: 20px; 
}

.footer-left ul li:last-child {
    margin-right: 0; 
}

.footer-left ul li a {
    color: #333333;
    text-decoration: none; 
}

.footer-left ul li a:hover {
    color: #6A7199; 
}

.social-media img {
    width: 40px; 
    height: auto; 
    margin-left: 10px;
}
